{% extends 'base_content.html' %}
{% block page_title %}
    Book Lists
{% endblock page_title %}
{% block page_subtitle %}
    Collections of your favourite reads
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">{% include 'partials/aside_menu/library_aside.html' %}</div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'user_dashboard' %}">{{ user.username }}</a>
                    </li>
                    <li>
                        <a href="{% url 'booklists_list' %}">Book Lists</a>
                    </li>
                    <li>
                        <a href="{% url 'edit_booklist' id %}">Edit</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Edit book list</h1>
                        <h2 class="subtitle">Change the details of your book list</h2>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="card-content">
                    <form action="{% url 'edit_booklist' booklist_id=id %}" method="post">
                        {% csrf_token %}
                        {% include 'partials/bulma_form.html' with form=form %}
                        <input type="submit" value="Update" class="button is-link">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
