<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Email Confirmation Request</title>
        <meta name="viewport"
              content="width = 375, initial-scale = -1"
              charset="UTF-8">
    </head>
    <body style="background-color: white; font-size: 16px;">
        <table align="center"
               border="0"
               cellpadding="0"
               cellspacing="0"
               style="height:100%;
                      width:600px;">
            <tbody>
                <!-- BEGIN EMAIL -->
                <tr>
                    <td align="center" bgcolor="#f5f5f5" style="padding:30px">
                        <p style="text-align:left">
                            Hey!
                            <br>
                            <br>
                        </p>
                        <p>
                            We have sent you another email.
                        </p>
                        <br>
                        <p style="text-align:left">
                            Sincerely,
                            <br>
                            Novella
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
