{% extends 'base_content.html' %}
{% block page_title %}
    {{ club.name }}
{% endblock page_title %}
{% block page_subtitle %}
    {{ club.tagline }}
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">{% include 'partials/aside_menu/club_aside.html' with current_club=club %}</div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' club.club_url_name %}">{{ club.name |truncatechars:20 }}</a>
                    </li>
                    <li>
                        <a href="{% url 'meeting_list' club.club_url_name %}">Meeting</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Meetings</h1>
                        <h2 class="subtitle">Find and connect with fellow bookworms</h2>
                    </div>
                </div>
            </section>
            {% if meetings %}
                <!-- If there are meetings available to the logged-in user -->
                <div class="table-container is-fullwidth">
                    <table class="table is-hoverable is-fullwidth"
                           id="table-clubs"
                           data-toggle="table"
                           data-pagination="true">
                        <thead>
                            <tr>
                                <th scope="col">Meeting Name</th>
                                <th scope="col">Organiser</th>
                                <th scope="col">Time</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meeting in meetings %}
                                <!-- For each meeting, add a row linked to the corresponding meeeting -->
                                <!-- Need to change onclick location to actual meeting dashboard.-->
                                <tr>
                                    <td>{{ meeting.title |truncatechars:30 }}</td>
                                    <td>{{ meeting.organiser.username }}</td>
                                    <td>{{ meeting.meeting_time }}</td>
                                    <td>
                                        <div class="buttons">
                                            <button class="button is-link is-warning"
                                                    onclick="window.location='{% url 'meeting_details' club.club_url_name meeting.id %}';">
                                                View
                                            </button>
                                            {% if meeting.organiser == user or club.get_club_owner == user %}
                                                {% if meeting.get_is_not_past %}
                                                    <button class="button is-link"
                                                            onclick="window.location='{% url 'edit_meeting' club.club_url_name meeting.id %}';">
                                                        Manage
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                            {% if meeting.get_is_not_past and not meeting.organiser == user %}
                                                {% if user not in meeting.get_members %}
                                                    <form method="post"
                                                            action="{% url 'join_meeting' club_url_name=club.club_url_name meeting_id=meeting.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="button is-info">Join</button>
                                                    </form>
                                                {% elif user in meeting.get_members %}
                                                    <form method="post"
                                                            action="{% url 'leave_meeting' club_url_name=club.club_url_name meeting_id=meeting.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="button is-info">Leave</button>
                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include 'partials/pagination.html' %}
            {% else %}
                <!-- If there is no meetings available to the logged-in user -->
                <hr>
                <p style="text-align: center" class="has-text-grey">
                    There are no available meetings at the moment.
                </p>
                <hr>
            {% endif %}
        </div>
    </div>
{% endblock %}
