{% extends 'base.html' %}
{% block page_title %}
    Forgot password
{% endblock page_title %}
{% block body %}
    <section class="hero">
        <div class="hero-body is-link">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Forgot password</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">
                        Please enter the email associated with your account.
                    </p>
                    <div class="box">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <article class="message is-success" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <article class="message is-danger" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="control" style="padding-bottom: 20px;">
                                <input name="email"
                                       class="input"
                                       type="email"
                                       placeholder="Your Email"
                                       autofocus="">
                                <div style="font-size: 10pt; color: red; padding-top: 5px;">{{ form.email.errors }}</div>
                            </div>
                            <button class="button is-link" type="submit">
                                <span>Reset</span>
                            </button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="{% url 'login' %}">Login</a> &nbsp;·&nbsp;
                        <a href="{% url 'sign_up' %}">Sign Up</a> &nbsp;·&nbsp;
                        <a href="{% url 'home' %}">Back to Home</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
