{% extends 'base_content.html' %}
{% block page_title %}
    Reviews
{% endblock page_title %}
{% block page_subtitle %}
    You can find a feed of reviews here
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">{% include 'partials/aside_menu/library_aside.html' %}</div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'library_dashboard' %}">Library</a>
                    </li>
                    <li>
                        <a href="">Reviews</a>
                    </li>
                    {% if current_user %}
                        <li>
                            <a href="{% url 'personal_reviews' %}">Personal</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'community_reviews' %}">Community</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        {% if current_user %}
                            <h1 class="title">Personal Reviews</h1>
                            <h2 class="subtitle">Your book reviews</h2>
                        {% else %}
                            <h1 class="title">Community Reviews</h1>
                            <h2 class="subtitle">Feed of reviews from the community</h2>
                        {% endif %}
                    </div>
                </div>
            </section>
            {% if reviews %}
                <!-- If there are reviews to show -->
                {% for post in reviews %}
                    <br />
                    <div class="card">
                        <header class="card-header" onclick="window.location='{% url 'book_review' book_id=post.book.id review_id=post.id %}';" style="cursor: pointer;">
                            <div class="card-header-title">
                                <p class="subtitle">
                                    <b>{{ post.title }}</b>
                                </p>
                            </div>
                            <div class="card-header-icon">{% include 'partials/voting.html' with content=post %}</div>
                        </header>
                        <div class="card-content">
                            <div class="content">
                                Book: {{ post.book.title }} - Rating: {{ post.book_rating }}/10
                                <br />
                                <span class="has-text-grey">{{ post.content |truncatechars:240 }}</span>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <span class="is-small has-text-grey-light">Posted by: <a href="{{ post.creator.get_absolute_url }}">{{ post.creator }}</a></span>
                            </p>
                            <p class="card-footer-item has-text-grey-light">
                                {{ post.created_on | timesince }} ago
                            </p>
                            <a href="{% url 'book_review' book_id=post.book.id review_id=post.id %}"
                               class="card-footer-item">
                                {% if post.get_comments.count > 0 %}
                                    See {{ post.get_comments.count }} comments
                                {% else %}
                                    Be the first to comment!
                                {% endif %}
                            </a>
                        </footer>
                    </div>
                {% endfor %}
                <br />
                {% include 'partials/pagination.html' %}
            {% else %}
                <!-- If there is no reviews to show -->
                <hr>
                <p style="text-align: center" class="has-text-grey">
                    There are no book reviews yet, you can find books in the library <a href="{% url 'library_books' %}" class="is-link"><i>here</i></a>.
                </p>
                <hr>
            {% endif %}
        </div>
    </div>
    <script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
    </script>
{% endblock %}
