{% extends 'base_content.html' %}
{% block page_title %}
    Book Review
{% endblock page_title %}
{% block page_subtitle %}
    Leave a comment on this review
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            <a class="button is-fullwidth is-link"
               href="{% url 'book_view' book_id=review.book.id %}"><b>Back to Book</b></a>
            <hr class="solid">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        {% if review.book.get_l_size > 50 %}
                            <img src="//images.weserv.nl/?url={{ review.book.imageL }}"
                                 alt="Book Cover">
                        {% else %}
                            <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                 alt="Book Cover">
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 10px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'library_dashboard' %}">Library</a>
                    </li>
                    <li>
                        <a href="{% url 'library_books' %}">Books</a>
                    </li>
                    <li>
                        <a href="{% url 'book_view' book_id=review.book.id %}">{{ review.book.title |truncatechars:20 }}</a>
                    </li>
                    <li>
                        <a href="{% url 'community_reviews' %}">Reviews</a>
                    </li>
                    <li>
                        <a href="{% url 'book_review' book_id=review.book.id review_id=review.id %}">Review by {{ review.creator |truncatechars:20 }}</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <p class="title">
                        <b>{{ review.book.title }}</b>
                    </p>
                </div>
            </section>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title is-vcentered">
                        <span class="has-text-black"><b>{{ review.title }}</b> - Rating: {{ review.book_rating }}/10 &nbsp;·&nbsp; </span>
                        <span class="has-text-grey-light">Posted by: <a href="{{ review.creator.get_absolute_url }}">{{ review.creator }}</a> {{ review.created_on | timesince }} ago</span>
                    </p>
                    <div class="card-header-icon">
                        <div class="field is-grouped">
                            {% if user == review.creator %}
                                <div class="control">
                                    <a href="{% url 'edit_review' book_id=review.book.id %}">
                                        <button class="button is-success" aria-label="Edit Review">
                                            <span>Edit</span>
                                            <span class="icon is-small">
                                                <i class="fa-solid fa-wand-magic-sparkles"></i>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                                <div class="control">
                                    {% include 'partials/delete_button_and_modal.html' with delete_item=review delete_modal_id=0 %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </header>
                <div class="card-content">
                    <div class="content">
                        <span class="has-text-grey">{{ review.content }}</span>
                    </div>
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <button class="button is-info js-modal-trigger is-rounded"
                                data-target="modal-create-comment">
                            <span class="icon">
                                <i class="fa-solid fa-pen"></i>
                            </span>
                            <span>Comment</span>
                        </button>
                    </p>
                    <div class="card-footer-item">{% include 'partials/voting.html' with content=review %}</div>
                </footer>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">Comments to Review:</div>
                </div>
                <div class="card-content">
                    {% if comments.count > 0 %}
                        {% for comment in comments %}
                            <article class="message">
                                <div class="columns is-vcentered">
                                    <div class="column is-1" style="margin-left: 20px;">{% include 'partials/voting.html' with content=comment %}</div>
                                    <div class="column is-11">
                                        <div class="message-body" style="margin-right: 20px;">
                                            <p class="has-text-justified">
                                                "{{ comment.content }}"
                                            </p>
                                            <br />
                                            <p class="has-text-right">
                                                <i>- by <a href="{{ comment.creator.get_absolute_url }}">{{ comment.creator }}</a>, {{ comment.created_on | timesince }} ago</i>
                                            </p>
                                            <div class="buttons">
                                                {% if comment.creator == user %}
                                                    {% include 'partials/delete_button_and_modal.html' with delete_item=comment delete_modal_id=comment.pk %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <br />
                            {% endfor %}
                            {% include 'partials/pagination.html' %}
                        {% else %}
                            <p class="has-text-grey-light has-text-centered">
                                <i>There are no comments for this review. Comment using the reply button on the review.</i>
                            </p>
                            <br />
                        {% endif %}
                    </div>
                </div>
                <div id="modal-create-comment" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="card">
                            <div class="card-header">
                                <button class="card-header-icon" aria-label="more options">
                                    <span class="icon">
                                        <i class="card-header-icon fa-solid fa-pen-clip"></i>
                                    </span>
                                </button>
                                <p class="card-header-title">
                                    Create Comment/Reply
                                </p>
                            </div>
                            <div class="card-content">
                                <form method="post"
                                      action="{% url 'comment_review' book_id=review.book.id review_id=review.id %}">
                                    <div class="card-content">
                                        <div class="container">
                                            {% csrf_token %}
                                            {% include 'partials/bulma_form.html' with form=review_comment_form %}
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <input type="button"
                                               value="Reset"
                                               id="resetBtn"
                                               onClick="this.form.reset()"
                                               class="button is-danger is-fullwidth"/>
                                        <input type="submit" value="Comment" class="button is-link is-fullwidth"/>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
    {% endblock content %}
