{% extends 'base_content.html' %}
{% block page_title %}
    Global Search
{% endblock page_title %}
{% block page_subtitle %}
    List of users
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-12">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Back to Home</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Users</h1>
                        <h2 class="subtitle">Search all the users on our forums</h2>
                    </div>
                </div>
            </section>
            {% include 'partials/user_search.html' with content=page_obj %}
        </div>
    </div>
{% endblock %}
