{% extends 'base_content.html' %}
{% block page_title %}
    User Dashboard
{% endblock page_title %}
{% block page_subtitle %}
    This is the User Dashboard, view community contributions and statistics
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">{% include 'partials/aside_menu/user_aside.html' %}</div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'user_dashboard' %}">User</a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">Password Change</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Change Password</h1>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-12">
                    <div class="container">
                        <div class="card-content">
                            <p class="title">
                                User Details
                            </p>
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded" src="{{ user.gravatar }}" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="subtitle is-5">
                                            <b>Username: </b> {{ user.username }}
                                        </p>
                                        <p class="subtitle is-5">
                                            <b>Email: </b> {{ user.email }}
                                        </p>
                                        <form action="{% url 'password_change' %}" method="post">
                                            {% csrf_token %}
                                            <div class="field">
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <input name="password"
                                                           class="input is-medium"
                                                           type="password"
                                                           id="password-field"
                                                           placeholder="Current Password">
                                                    <span class="has-text-grey">Show/Hide Password <i toggle="#password-field"
    class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                                                </div>
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <input name="new_password"
                                                           class="input is-medium"
                                                           type="password"
                                                           id="password-field2"
                                                           placeholder="New Password">
                                                    <span class="has-text-grey">Show/Hide Password <i toggle="#password-field2"
    class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                                                </div>
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <input name="password_confirmation"
                                                           class="input is-medium"
                                                           type="password"
                                                           id="password-field3"
                                                           placeholder="Confirm Password">
                                                    <span class="has-text-grey">Show/Hide Password <i toggle="#password-field3"
    class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                                                </div>
                                                <div class="control">
                                                    <button class="button is-block is-info is-large is-fullwidth">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
