{% extends 'error_base.html' %}
{% block error_name %}404 Not Found{% endblock %}
{% block error_title %}404 Error{% endblock %}
{% block error_subtitle %}Resource not found.{% endblock %}
{% block error_body %}
    <img src="https://images.unsplash.com/photo-1508169351866-777fc0047ac5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"
         alt="404-image"
         width="auto">
    <a href="{% url 'home' %}" class="button is-link is-fullwidth">Return to the home page</a>
{% endblock %}
