{% extends 'base_content.html' %}

{% block page_title %}
Club Applicant List
{% endblock page_title %}

{% block page_subtitle %}
This is the list of applicants for this club.
{% endblock page_subtitle %}

{% block content %}

<div class="columns">

    <div class="column is-3">

        <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

            <p class="menu-label">Club Views</p>

            <ul class="menu-list">
                <li><a href="{% url 'club_dashboard' club.url_name %}">Dashboard</a></li>
                <li><a href="{% url 'member_list' club.url_name %}">Member List</a></li>
                <li><a class="is-active" href="{% url 'applicant_list' club.url_name %}"><b>Applicant List</b></a></li>
            </ul>

            {% if user == club.get_club_owner %}

                <p class="menu-label">Club Administration</p>

                <ul class="menu-list">
                    <li><a>Manage Club</a></li>
                    <li><a>Club Settings</a></li>
                </ul>

            {% endif %}

            <p class="menu-label">Forum & Reviews</p>

            <ul class="menu-list">
                <li><a>Forum</a></li>
                <li><a>Members Reviews</a></li>
            </ul>

            <p class="menu-label">Meetings</p>

            <ul class="menu-list">
                <li><a>All Meetings</a></li>
                <li><a>Joined Upcoming Meetings</a></li>
                <li><a>Prior Meetings</a></li>
            </ul>

        </aside>

    </div>

    <div class="column is-9">

        <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a>Club</a></li>
                <li><a>{{ club.name }}</a></li>
                <li><a href="#">Member List</a></li>
            </ul>
        </nav>

        <section class="hero is-link welcome is-small" style="margin: 10px 0px;">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{ club.name }}</h1>
                    <h2 class="subtitle">{{ club.tagline }}</h2>
                </div>
            </div>
        </section>




        <p class="subtitle">Applicants</p>


        {% for applicant in applicants %}
        <div class="columns">

            <div class="column is-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img class="is-rounded" src="{{ member.gravatar }}" alt="Placeholder image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p class="text"><b>Name: </b> {{ applicant.username }}</p>
                                    <p class="text"><b>Public Bio: </b> {{ applicant.public_bio }}</p>
                                </div>

                                <hr class="solid">

                                <div class="buttons">
                                    <button class="button is-warning is-small">View</button>
                                    {% if request_user.membership == 2 or request_user.membership == 1 %}
                                      <form method="post" action="{% url 'approve_applicant' url_name=club.url_name %}">
                                        <input type="hidden" name="user" value="{{ applicant.username }}" />
                                        {% csrf_token %}
                                        <button type="submit" class="button is-success is-small" style="margin-right: 5px" onclick="return confirm('Confirm you want to approve {{applicant.username}}?');">Approve</button>
                                      </form>

                                      <form method="post" action="{% url 'reject_applicant' url_name=club.url_name %}">
                                        <input type="hidden" name="user" value="{{ applicant.username }}" />
                                        {% csrf_token %}
                                        <button type="submit" class="button is-danger is-small" style="margin-right: 5px" onclick="return confirm('Confirm you want to reject {{applicant.username}}?');">Reject</button>
                                      </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
