{% extends 'base_content.html' %}

{% block page_title %}
Available Clubs
{% endblock page_title %}

{% block page_subtitle %}
Find the Book Club you are looking for here!
{% endblock page_subtitle %}

{% block content %}

<div class="container">
  {% if clubs %} <!-- If there are clubs available to the logged-in user -->
    <div class="table-responsive">
           <table class="table table-hover" id="table-clubs" data-toggle="table" data-pagination="true">
              <thead>
                  <tr>
                      <th scope="col">Club Name</th>
                      <th scope="col">Description</th>
                  </tr>
              </thead>
              <tbody>
                  {% for club in clubs %}
                    <!-- For each available club, add a row linked to the corresponding club dashboard page -->
                      <tr onclick="window.location='{% url 'club_dashboard' club.id %}';">
                          <td>{{club.name}}</td>
                          <td>{{club.description}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  {% else %} <!-- If there is no club available to the logged-in user -->
    <hr class="solid">
    <p>There are no available clubs at the moment.</p>
  {% endif %}
</div>
<script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: []
})
</script>

{% endblock %}
