{% extends 'base_content.html' %}

{% block page_title %}
{{ book.title }}
{% endblock page_title %}

{% block page_subtitle %}
This is the detail view for {{book.title}}
{% endblock page_subtitle %}

{% block content %}

<div class="columns">

    <div class="column is-3">

        <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

            <p class="menu-label">Club Views</p>

            <ul class="menu-list">
            </ul>

            <p class="menu-label">Forum & Reviews</p>

            <ul class="menu-list">
                <li><a>Forum</a></li>
                <li><a>Members Reviews</a></li>
            </ul>

        </aside>

    </div>
    
    <div class="column is-6">
        <div class="box">
            <p class="title"> {{book.title}}</p>
        </div>
        <div class="box">
            <article class="media has-text-centered">
                <figure class="media-content is-is-center">
                        <img src="{{ book.imageL }}">
                </figure>
            </article>
        </div>
        <div class="card">
            <div class="card-content">
                <p class="subtitle is-5"><b>Published in: </b> 
                    {% if book.getPublicationYear == 1%}
                        Information not available
                    {%else%}
                        {{ book.getPublicationYear }} 
                    {%endif%}</p>
                <p class="subtitle is-5"><b>Published by: </b> {{ book.publisher }}</p>
                <p class="subtitle is-5"><b>ISBN: </b>{{ book.ISBN }}</p>
                <p class="subtitle is-5"><b>Author: </b>{{ book.author }}</p>
            </div>
        </div>
    </div>
    
    <div class="column is-3">
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <button class="button is-fullwidth is-light" href="{%url 'home'%}" >Add Review</button>
          </form>
            
        {% if reviews %}
            <div class="box">
                <b>Average rating: </b>{{average}}
            </div>
            
                    {%for review in reviews%}  
                    <div class="box">
                        <div class="card-content">
                        <p class="subtitle is-5"><b>Review by: </b> {{ review.user }}</p>
                        <p class="subtitle is-5"><b>Created on: </b>{{ review.createdOn }}</p>
                        <p class="subtitle is-5"><b>Review text:</b> {{ review.review }} </p>
                        <p class="subtitle is-5"><b>Rating: </b>{{ review.rating }}</p>
                        </div>
                    </div>
                    {%endfor%}
                
        {% else %}
            <div class="box">
                <p> No reviews as of yet </p>
            </div>
        {%endif%}
    </div>


</div>

{% endblock %}