{% extends 'base_content.html' %}
{% block page_title %}
    {{ book.title }}
{% endblock page_title %}
{% block page_subtitle %}
View this book's details and reviews here.
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            <a class="button is-fullwidth is-link" href="{% url 'library_books' %}"><b>Back to Books</b></a>
            <hr class="solid">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        {% if book.get_l_size > 50 %}
                            <img src="//images.weserv.nl/?url={{ book.imageL }}" alt="Book Cover">
                        {% else %}
                            <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                 alt="Book Cover">
                        {% endif %}
                    </figure>
                </div>
            </div>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'library_dashboard' %}">Library</a>
                    </li>
                    <li>
                        <a href="{% url 'library_books' %}">Books</a>
                    </li>
                    <li>
                        <a href="{% url 'book_view' book.id %}">{{ book.title }}</a>
                    </li>
                </ul>
            </nav>
            <div id="tabs-with-content">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active">
                            <a>
                                <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
                                <span>Details</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-small"><i class="fa-solid fa-user-pen"></i></span>
                                <span>User Reviews</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-small"><i class="fa-solid fa-book-open-reader" aria-hidden="true"></i></span>
                                <span>Actions</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <section class="tab-content">
                        <div class="columns">
                            <div class="column is-6">
                                <div class="box">
                                <b>Author:</b>
                                    <p>
                                        {{ book.author }}
                                    </p>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="box">
                                <b>Publisher:</b>
                                    <p>
                                        {{ book.publisher }} 
                                        {% if book.getPublicationYear != 1 %}
                                            ({{ book.getPublicationYear }})
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <b>Description:</b>
                            <p id="description">
                            </p>
                        </div>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="box">
                                    <b>Genre:</b>
                                    <p id="genre">
                                    </p>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="box">
                                    <b>Page Count:</b>
                                    <p id="pageCount">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <b>Book ISBN:</b>
                            <p>
                                {{ book.ISBN }}
                            </p>
                        </div>
                    </section>
                    <section class="tab-content">
                        {% if reviews %}
                            <div class="box">
                                <b>Average rating: </b>{{ average }} out of 10
                            </div>
                            {% for review in reviews %}
                                <div class="box">
                                    <header>
                                        <p class="card-header-title is-vcentered">
                                            <span class="has-text-grey-light">Posted by: {{ review.creator }} - {{ review.created_on | timesince }} ago</span>
                                        </p>
                                    </header>
                                    <div class="card-content">
                                        <div class="content">
                                            <span class="has-text-black"><b>Rating:</b> {{ review.rating }}/10</span>
                                            <br/>
                                            <span class="has-text-grey"><b>Review:</b> {{ review.content }}</span>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a class="card-footer-item" href="{% url 'book_review' book_id=review.book.id review_id=review.id %}">
                                            View
                                        </a>
                                    </footer>
                                </div>
                            {% endfor %}
                            <div class="box">
                                <form method="get" action="{% url 'create_review' book.id %}">
                                    <button class="button is-info is-fullwidth">Add Review</button>
                                </form>
                                <form method="get" action="{% url 'book_reviews' book.id %}">
                                    <button class="button is-link is-fullwidth">See more</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="box">
                                <p>
                                    No reviews as of yet
                                </p>
                            </div>
                            <div class="box">
                                <form method="get" action="{% url 'create_review' book.id %}">
                                    <button class="button is-info is-fullwidth">Add Review</button>
                                </form>
                            </div>
                        {% endif %}
                    </section>
                    <section class="tab-content">
                        {% if user.is_authenticated %}
                            {% if not in_bookshelf %}
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title is-vcentered">
                                        <span class="has-text-black"><b>Add to your Bookshelf: </b></span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <form action="{% url 'add_to_bookshelf' book_id=book.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="field has-addons">
                                                <div class="control is-expanded">
                                                    <div class="select is-fullwidth">
                                                        <select required id="status" name="status">
                                                            <option value="" selected disabled hidden>
                                                                Choose here
                                                            </option>
                                                            <option value="0">
                                                                To Read
                                                            </option>
                                                            <option value="1">
                                                                Reading
                                                            </option>
                                                            <option value="2">
                                                                On Hold
                                                            </option>
                                                            <option value="3">
                                                                Completed
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="control">
                                                    <input type="submit" value="Add" class="button is-link"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" href="{% url 'bookshelf' %}">
                                        View your bookshelf
                                    </a>
                                </footer>
                            </div>
                            {% else %}
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title is-vcentered">
                                        <span class="has-text-black"><b>Update in your Bookshelf: </b></span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <form action="{% url 'update_from_bookshelf' book_id=book.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="field has-addons">
                                            <div class="control is-expanded">
                                                <div class="select is-fullwidth">
                                                    <select required id="status" name="status">
                                                        <option value="" selected disabled hidden>
                                                            Choose here
                                                        </option>
                                                        <option value="0">
                                                            To Read
                                                        </option>
                                                        <option value="1">
                                                            Reading
                                                        </option>
                                                        <option value="2">
                                                            On Hold
                                                        </option>
                                                        <option value="3">
                                                            Completed
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="control">
                                                <input type="submit" value="Update" class="button is-info"/>
                                            </div>
                                        </div>
                                    </form>
                                    <form action="{% url 'remove_from_bookshelf' book_id=book.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="field">
                                            <div class="control is-fullwidth">
                                                <input type="submit" value="Delete" class="button is-danger"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" href="{% url 'bookshelf' %}">
                                        View your bookshelf
                                    </a>
                                </footer>
                            </div>
                            {% endif %}

                            <br/>

                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title is-vcentered">
                                        <span class="has-text-black"><b>Add to a Booklist: </b></span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <form action="{% url 'add_to_book_list' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" id="book" name="book" value="{{ book.id }}"/>
                                            <div class="field has-addons">
                                                <div class="control is-expanded">
                                                    <div class="select is-fullwidth">
                                                        <select required id="booklist" name="booklist">
                                                            <option value="" selected disabled hidden>
                                                                Choose here
                                                            </option>
                                                            {% for list in lists %}
                                                                <option value="{{ list.id }}">
                                                                    {{ list.title }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="control">
                                                    <input type="submit" value="Add" class="button is-link"/>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" href="{% url 'booklists_list' username=user.username %}">
                                        View your booklists
                                    </a>
                                </footer>
                            </div>
                        {% else %}
                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title is-vcentered">
                                        <span class="has-text-black"><b>Sign in or sign up to do more!</b></span>
                                    </p>
                                </header>
                                <div class="card-content">
                                    <div class="content">
                                        <span>Track your reading or create your own booklists when you sign up!</span>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a class="card-footer-item" href="{% url 'login' %}">
                                        Log In
                                    </a>
                                    <a class="card-footer-item" href="{% url 'sign_up' %}">
                                        Sign Up
                                    </a>
                                </footer>
                            </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function() {

            if ("{{ book.ISBN }}".length <= 9) {
                var url = "https://www.googleapis.com/books/v1/volumes?q=isbn:0" + "{{ book.ISBN }}";
            }
            else {
                var url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + "{{ book.ISBN }}";
            }

            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                try {
                    //Parsing JSON Data
                    var jsonData = JSON.parse(this.responseText);
                    let data = jsonData.items;

                    for (var key in data) {
                        var genre = data[key].volumeInfo.categories[0];
                        var genreElement = document.getElementById("genre");
                        genreElement.innerHTML = String(genre);

                        var description = data[key].volumeInfo.description;
                        var descriptionElement = document.getElementById("description");
                        descriptionElement.innerHTML = String(description);

                        var pageCount = data[key].volumeInfo.pageCount;
                        var pageCountElement = document.getElementById("pageCount");
                        pageCountElement.innerHTML = String(pageCount);
                    }

                } catch (exception) {
                    console.log(exception);
                }
            }
            xhttp.open("GET", url, true);
            xhttp.send();
        }

</script>
{% endblock %}
