{% extends 'base_content.html' %}
{% block page_title %}
    Bookshelf
{% endblock page_title %}
{% block page_subtitle %}
    This is your bookshelf, where you can track your reading.
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-12">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'bookshelf' %}">Bookshelf</a>
                    </li>
                </ul>
            </nav>
            <div id="tabs-with-content">
                <div class="tabs is-centered is-medium">
                    <ul>
                        <li class="is-active">
                            <a>
                                <span class="icon is-medium"><i class="fa-solid fa-list-check" aria-hidden="true"></i></span>
                                <span>All Books</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-medium"><i class="fa-solid fa-book-bookmark" aria-hidden="true"></i></span>
                                <span>To Read</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-medium"><i class="fa-solid fa-book-open" aria-hidden="true"></i></span>
                                <span>Reading</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-medium"><i class="fa-solid fa-pause" aria-hidden="true"></i></span>
                                <span>On Hold</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="icon is-medium"><i class="fa-solid fa-check" aria-hidden="true"></i></span>
                                <span>Completed</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <section class="tab-content">
                        {% if all_books %}
                            <div class="table-container">
                                <table class="table is-hoverable is-fullwidth"
                                    id="table-books"
                                    data-toggle="table"
                                    data-pagination="true">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cover</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Author</th>
                                            <th scope="col">Publisher</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    {% for entry in all_books %}
                                        <tr>
                                            <td>
                                                {% if entry.book.get_m_size > 50 %}
                                                    <img src="//images.weserv.nl/?url={{ entry.book.imageM }}" alt=""/>
                                                {% else %}
                                                    <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=95&w=156"
                                                        alt=""/>
                                                {% endif %}
                                            </td>
                                            <td>{{ entry.book.title }}</td>
                                            <td>{{ entry.book.author }}</td>
                                            <td>{{ entry.book.publisher }}</td>
                                            <td>
                                                <button class="button is-fullwidth is-link"
                                                        onclick="window.location='{% url 'book_view' entry.book.id %}';">View</button>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'partials/pagination.html' %}
                        {% else %}
                            <hr>
                            <p style="text-align: center" class="has-text-grey">
                                There are no books in this bookshelf.
                                Go to the <a class="has-text-success" href="{% url 'library_books' %}"><i>Library</i></a>.
                            </p>
                            <hr>
                        {% endif %}
                    </section>
                    <section class="tab-content">
                        {% if to_read %}
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth"
                                id="table-books"
                                data-toggle="table"
                                data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Cover</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                            <tbody>
                                {% for entry in to_read %}
                                    <tr>
                                        <td>
                                            {% if entry.book.get_m_size > 50 %}
                                                <img src="//images.weserv.nl/?url={{ entry.book.imageM }}" alt=""/>
                                            {% else %}
                                                <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=97&w=160"
                                                    alt=""/>
                                            {% endif %}
                                        </td>
                                        <td>{{ entry.book.title }}</td>
                                        <td>{{ entry.book.author }}</td>
                                        <td>{{ entry.book.publisher }}</td>
                                        <td>
                                            <button class="button is-fullwidth is-link"
                                                    onclick="window.location='{% url 'book_view' entry.book.id %}';">View</button>
                                        </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'partials/pagination.html' %}
                        {% else %}
                            <hr>
                            <p style="text-align: center" class="has-text-grey">
                                There are no books in 'To Read'.
                                Go to the <a class="has-text-success" href="{% url 'library_books' %}"><i>Library</i></a>.
                            </p>
                            <hr>
                        {% endif %}
                    </section>
                    <section class="tab-content">
                        {% if currently_reading %}
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth"
                                id="table-books"
                                data-toggle="table"
                                data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Cover</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in currently_reading %}
                                        <tr>
                                            <td>
                                                {% if entry.book.get_m_size > 50 %}
                                                    <img src="//images.weserv.nl/?url={{ entry.book.imageM }}" alt=""/>
                                                {% else %}
                                                    <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=97&w=160"
                                                        alt=""/>
                                                {% endif %}
                                            </td>
                                            <td>{{ entry.book.title }}</td>
                                            <td>{{ entry.book.author }}</td>
                                            <td>{{ entry.book.publisher }}</td>
                                            <td>
                                                <button class="button is-fullwidth is-link"
                                                        onclick="window.location='{% url 'book_view' entry.book.id %}';">View</button>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'partials/pagination.html' %}
                        {% else %}
                            <hr>
                            <p style="text-align: center" class="has-text-grey">
                                There are no books in 'Currently Reading'.
                                Go to the <a class="has-text-success" href="{% url 'library_books' %}"><i>Library</i></a>.
                            </p>
                            </p>
                            <hr>
                        {% endif %}
                    </section>
                    <section class="tab-content">
                        {% if completed %}
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth"
                                id="table-books"
                                data-toggle="table"
                                data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Cover</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in completed %}
                                        <tr>
                                            <td>
                                                {% if entry.book.get_m_size > 50 %}
                                                    <img src="//images.weserv.nl/?url={{ entry.book.imageM }}" alt=""/>
                                                {% else %}
                                                    <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=97&w=160"
                                                        alt=""/>
                                                {% endif %}
                                            </td>
                                            <td>{{ entry.book.title }}</td>
                                            <td>{{ entry.book.author }}</td>
                                            <td>{{ entry.book.publisher }}</td>
                                            <td>
                                                <button class="button is-fullwidth is-link"
                                                        onclick="window.location='{% url 'book_view' entry.book.id %}';">View</button>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'partials/pagination.html' %}
                        {% else %}
                            <hr>
                            <p style="text-align: center" class="has-text-grey">
                                There are no books in 'Completed'.
                                Go to the <a class="has-text-success" href="{% url 'library_books' %}"><i>Library</i></a>.
                            </p>
                            <hr>
                        {% endif %}
                    </section>
                    <section class="tab-content">
                        {% if on_hold %}
                        <div class="table-container">
                            <table class="table is-hoverable is-fullwidth"
                                id="table-books"
                                data-toggle="table"
                                data-pagination="true">
                                <thead>
                                    <tr>
                                        <th scope="col">Cover</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in on_hold %}
                                        <tr>
                                            <td>
                                                {% if entry.book.get_m_size > 50 %}
                                                    <img src="//images.weserv.nl/?url={{ entry.book.imageM }}" alt=""/>
                                                {% else %}
                                                    <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=97&w=160"
                                                        alt=""/>
                                                {% endif %}
                                            </td>
                                            <td>{{ entry.book.title }}</td>
                                            <td>{{ entry.book.author }}</td>
                                            <td>{{ entry.book.publisher }}</td>
                                            <td>
                                                <button class="button is-fullwidth is-link"
                                                        onclick="window.location='{% url 'book_view' entry.book.id %}';">View</button>
                                            </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% include 'partials/pagination.html' %}
                        {% else %}
                            <hr>
                            <p style="text-align: center" class="has-text-grey">
                                There are no books in 'On Hold'.
                                Go to the <a class="has-text-success" href="{% url 'library_books' %}"><i>Library</i></a>.
                            </p>
                            <hr>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>

    <style>
        #tabs-with-content .tabs:not(:last-child) {
          margin-bottom: 0;
        }

        #tabs-with-content .tab-content {
          padding: 1rem;
          display: none;
        }

        #tabs-with-content .tab-content.is-active {
          display: block;
        }
    </style>

    <script>
        let tabsWithContent = (function () {
            let tabs = document.querySelectorAll('.tabs li');
            let tabsContent = document.querySelectorAll('.tab-content');
  
            let deactvateAllTabs = function () {
              tabs.forEach(function (tab) {
                tab.classList.remove('is-active');
              });
            };
  
            let hideTabsContent = function () {
              tabsContent.forEach(function (tabContent) {
                tabContent.classList.remove('is-active');
              });
            };
  
            let activateTabsContent = function (tab) {
              tabsContent[getIndex(tab)].classList.add('is-active');
            };
  
            let getIndex = function (el) {
              return [...el.parentElement.children].indexOf(el);
            };
  
            tabs.forEach(function (tab) {
              tab.addEventListener('click', function () {
                deactvateAllTabs();
                hideTabsContent();
                tab.classList.add('is-active');
                activateTabsContent(tab);
              });
            })
  
            tabs[0].click();
          })();
    </script>
{% endblock content %}