{% extends 'base_content.html' %}

{% block page_title %}
Calendar
{% endblock page_title %}

{% block content %}
<div>
<!--    <p id="date"></p>-->


    <div class="columns is-multiline">

        {% for meeting in meetings %}


        <div class="column is-one-quarter">

            <!--Card Template-->
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {{meeting.title}}
                    </p>
                </header>
                <div class="card-content">

                    <div class="content">
                        Organiser: {{meeting.organiser}}
                        <br>
                        Club: {{meeting.club}}
                        <br>
                        {{meeting.description}}
                        <br>
                        <time datetime="Time: ">{{meeting.meeting_time.date}}</time>
                    </div>

                </div>
                <footer class="card-footer">
                    <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
                       class="card-footer-item">View</a>
                    <a href="#" class="card-footer-item">Leave</a>
                </footer>
            </div>
            <style>
                .card {
                    background-color: white;
                }
            </style>

        </div>


        {% endfor %}

    </div>


<!--    <script>-->
<!--        var currentDate = new Date(),-->

<!--            currentDay = currentDate.getDate() < 10-->
<!--                ? '0' + currentDate.getDate()-->
<!--                : currentDate.getDate(),-->
<!--            currentMonth = currentDate.getMonth() < 9-->
<!--                ? '0' + (currentDate.getMonth() + 1)-->
<!--                : (currentDate.getMonth() + 1);-->

<!--        document.getElementById("date").innerHTML = currentDay + '/' + currentMonth + '/' + currentDate.getFullYear();-->

<!--        var dt = new Date();-->
<!--        document.getElementById("datetime").innerHTML = dt.toLocaleString();-->

<!--        n = new Date();-->
<!--        y = n.getFullYear();-->
<!--        m = n.getMonth() + 1;-->
<!--        d = n.getDate();-->
<!--        document.getElementById("date").innerHTML = m + "/" + d + "/" + y;-->


<!--    </script>-->
</div>
{% endblock %}


{% block page_subtitle %}
Welcome to the calendar!
{% endblock page_subtitle %}
