{% extends 'base_content.html' %}

{% block page_title %}
Calendar
{% endblock page_title %}

{% block content %}
<div>
    <!--    <p id="date"></p>-->
    <!--Tabs-->
    <div id="tabs-with-content">
        <div class="tabs is-toggle is-right">
            <ul>
                <li class="is-active">
                    <a>
                        <span><i aria-hidden="true"></i></span>
                        <span>Joined</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i aria-hidden="true"></i></span>
                        <span>Not Joined</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span><i aria-hidden="true"></i></span>
                        <span>Both</span>
                    </a>
                </li>
            </ul>
        </div>


        <!--Joined tab section-->
        <div>
            <section class="tab-content">
                <hr class="solid">

                <p class="title is-3">Today's meetings</p>

                <hr class="solid">

                <div class="columns is-multiline">

                    {% for meeting in meetings %}

                    {% if meeting.meeting_time.date == today%}
                    <div class="column is-one-third">

                        <!--Card Template-->
                        <div class="card today_card">
                            <header class="card-header">
                                <p class="card-header-title title is-4">
                                    {{meeting.title}}
                                </p>
                            </header>
                            <div class="card-content">

                                <div class="content">
                                    <p class="subtitle is-4 charlimit">
                                        {{meeting.description}}
                                        <br>
                                    </p>
                                    <span class="subtitle is-5">
                                            Organised by <i>{{meeting.organiser}}</i> for <i>{{meeting.club}}</i>
                                        </span>
                                    <br>
                                    <i>{{meeting.meeting_time}}</i>
                                </div>

                            </div>
                            <footer class="card-footer">
                                <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
                                   class="card-footer-item">View</a>
                            </footer>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!--UPCOMING MEETINGS-->

                <hr class="solid">

                <p class="title is-3">Upcoming meetings</p>

                <hr class="solid">

                <div class="columns is-multiline">

                    {% for meeting in meetings %}

                    {% if meeting.meeting_time.date > today%}
                    <div class="column is-one-third">

                        <!--Card Template-->
                        <div class="card rest_card">
                            <header class="card-header">
                                <p class="card-header-title title is-5">
                                    {{meeting.title}}
                                </p>
                            </header>
                            <div class="card-content">

                                <div class="content">
                                    <p class="subtitle is-4 charlimit">
                                        {{meeting.description}}
                                        <br>
                                    </p>
                                    <span class="subtitle is-5">
                                            Organised by <i>{{meeting.organiser}}</i> for <i>{{meeting.club}}</i>
                                        </span>
                                    <br>
                                    <i>{{meeting.meeting_time}}</i>
                                </div>

                            </div>
                            <footer class="card-footer">
                                <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
                                   class="card-footer-item">View</a>
                            </footer>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            <!--Not Joined section-->
            <section class="tab-content">
                <hr class="solid">

                <p class="title is-3">Not joined meetings today</p>

                <hr class="solid">

                <div class="columns is-multiline">

                    {% for meeting in not_joined %}

                    {% if meeting.meeting_time.date == today%}
                    <div class="column is-one-third">

                        <!--Card Template-->
                        <div class="card today_card">
                            <header class="card-header">
                                <p class="card-header-title title is-4">
                                    {{meeting.title}}
                                </p>
                            </header>
                            <div class="card-content">

                                <div class="content">
                                    <p class="subtitle is-4 charlimit">
                                        {{meeting.description}}
                                        <br>
                                    </p>
                                    <span class="subtitle is-5">
                                            Organised by <i>{{meeting.organiser}}</i> for <i>{{meeting.club}}</i>
                                        </span>
                                    <br>
                                    <i>{{meeting.meeting_time}}</i>
                                </div>

                            </div>
                            <footer class="card-footer">
                                <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
                                   class="card-footer-item">View</a>
                            </footer>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <!--UPCOMING MEETINGS-->

                <hr class="solid">

                <p class="title is-3">Upcoming not joined meetings</p>

                <hr class="solid">

                <div class="columns is-multiline">

                    {% for meeting in meetings %}

                    {% if meeting.meeting_time.date > today%}
                    <div class="column is-one-third">

                        <!--Card Template-->
                        <div class="card rest_card">
                            <header class="card-header">
                                <p class="card-header-title title is-5">
                                    {{meeting.title}}
                                </p>
                            </header>
                            <div class="card-content">

                                <div class="content">
                                    <p class="subtitle is-4 charlimit">
                                        {{meeting.description}}
                                        <br>
                                    </p>
                                    <span class="subtitle is-5">
                                            Organised by <i>{{meeting.organiser}}</i> for <i>{{meeting.club}}</i>
                                        </span>
                                    <br>
                                    <i>{{meeting.meeting_time}}</i>
                                </div>

                            </div>
                            <footer class="card-footer">
                                <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
                                   class="card-footer-item">View</a>
                            </footer>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            <!--Both section-->
            <section class="tab-content">
                Hello both
            </section>
        </div>
    </div>





</div>

<style>
    .today_card {
        background-color: floralwhite;
    }

    .rest_card {
        background-color: white;
    }

    .charlimit {
        width: 30ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #tabs-with-content .tabs:not(:last-child) {
        margin-bottom: 0;
    }

    #tabs-with-content .tab-content {
        padding: 1rem;
        display: none;
    }

    #tabs-with-content .tab-content.is-active {
        display: block;
    }
</style>


<script>
  let tabsWithContent = (function () {
    let tabs = document.querySelectorAll('.tabs li');
    let tabsContent = document.querySelectorAll('.tab-content');

    let deactvateAllTabs = function () {
      tabs.forEach(function (tab) {
        tab.classList.remove('is-active');
      });
    };

    let hideTabsContent = function () {
      tabsContent.forEach(function (tabContent) {
        tabContent.classList.remove('is-active');
      });
    };

    let activateTabsContent = function (tab) {
      tabsContent[getIndex(tab)].classList.add('is-active');
    };

    let getIndex = function (el) {
      return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        deactvateAllTabs();
        hideTabsContent();
        tab.classList.add('is-active');
        activateTabsContent(tab);
      });
    })

    tabs[0].click();
  })();
</script>
{% endblock %}


{% block page_subtitle %}
Welcome to the calendar!
{% endblock page_subtitle %}
