{% extends 'base_content.html' %}
{% block page_title %}
    Club Dashboard
{% endblock page_title %}
{% block page_subtitle %}
    This is the Club Dashboard, the main home page for each club!
{% endblock page_subtitle %}
{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
    <script defer src="scripts.js"></script>

    <div class="columns">
        <div class="column is-3">
            {% include 'partials/club_aside.html' %}
        </div>

        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Club</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' current_club.club_url_name %}">{{ current_club.name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' current_club.club_url_name %}">Dashboard</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">{{ current_club.name }}</h1>
                        <h2 class="subtitle">{{ current_club.tagline }}</h2>
                    </div>
                </div>
            </section>
            <div class="columns is-fullheight">
                <div class="column is-6">
                    <div class="box card-equal-height">
                        <div class="card-content">
                            <p class="title">
                                Club Details
                            </p>
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded"
                                             src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-600w-518740741.jpg"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="subtitle is-5">
                                            <b>Club Owner: </b> {{ owner.username }}
                                        </p>
                                        <p class="subtitle is-5">
                                            <b>Contact Details: </b> {{ owner.email }}
                                        </p>
                                        <p class="subtitle is-5">
                                            <b>Date of Creation: </b> {{ current_club.created_on }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="box card-equal-height">
                        <div class="card-content">
                            <p class="title">
                                Club Details
                            </p>
                            <div class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p class="subtitle is-5">
                                            <b>Club Description: </b> {{ current_club.description }}
                                        </p>
                                        <p class="subtitle is-5">
                                            <b>Club Rules: </b> {{ current_club.rules }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if featured_books %}
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        {% comment %} <h1 class="title">Featured Books</h1> {% endcomment %}
                        <h2 class="subtitle">Featured Books</h2>
                    </div>
                </div>
            </section>

            <div class="container is-clipped">
               <div id="slider">

                    {% for featured in featured_books %}
                        <div class="card card-equal-height">
                            <div class="card-image">
                            <figure class="image is-3by4 is-covered">
                                {% if featured.book.get_l_size > 50 %}
                                    <img src="//images.weserv.nl/?url={{ featured.book.imageL }}" alt=""/>
                                        {% else %}
                                    <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?h=160&w=108"
                                    alt=""/>
                            {% endif %}
                            </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">
                                    {{ featured.book.title }} - by {{ featured.book.author }}
                                </div>
                                <div class="item__description">
                                    {{ featured.reason }}
                                </div>
                            </div>
                        </div>
                    {% endfor %} 

                </div>
            </div>
            <br>
            {% endif %}

            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent"
                     onclick="location.href='{% url 'member_list' current_club.club_url_name  %}'"
                     style="cursor: pointer">
                    <article class="tile is-child box">
                        <p class="title">
                            {{ current_club.get_number_of_members }}
                        </p>
                        <p class="subtitle">
                            Members
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            *meetings*
                        </p>
                        <p class="subtitle">
                            Meetings
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            *posts*
                        </p>
                        <p class="subtitle">
                            Blog Posts
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            *review score*
                        </p>
                        <p class="subtitle">
                            Overall Review Score
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script>
        bulmaCarousel.attach('#slider', {
            slidesToScroll: 1,
            slidesToShow: 3,
            infinite: true,
            navigationSwipe: true,
            autoplay: true,
            pauseOnHover: true,
        });
    </script>

{% endblock %}
