{% extends 'base_content.html' %}

{% block page_title %}
Meetings
{% endblock page_title %}

{% block page_subtitle %}
Find the Meeting you are looking for here!
{% endblock page_subtitle %}

{% block content %}
<div class = "columns">
  <div class="column is-3">

    <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

      <p class="menu-label">Meeting</p>

      <ul class="menu-list">

          <li><a class="is-active" href="{% url 'meeting_list' club.club_url_name %}">Meeting List</a></li>

      </ul>

  </aside>
  

  </div>

  <div class="column is-9">

    <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
      <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'available_clubs' %}">Club</a></li>
          <li><a href="{% url 'club_dashboard' club.club_url_name %}">{{ club.name }}</a></li>
          <li><a href="{% url 'meeting_list' club.club_url_name %}">Meeting List</a></li>
      </ul>
    </nav>

    <section class="hero is-link welcome is-small" style="margin: 10px 0px;">
      <div class="hero-body">
          <div class="container">
              <h1 class="title">{{ club.name }}</h1>
              <h2 class="subtitle">{{ club.tagline }}</h2>
          </div>
      </div>
    </section>

    {% if meetings %} <!-- If there are meetings available to the logged-in user -->
      <div class="table-container is-fullwidth">
        <table class="table is-hoverable is-fullwidth" id="table-clubs" data-toggle="table" data-pagination="true">
            <thead>
                <tr>
                    <th scope="col">Meeting Name</th>
                    <th scope="col">Organiser</th>
                    <th scope="col">Time</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meetings %}
                  <!-- For each meeting, add a row linked to the corresponding meeeting -->

                  <!-- Need to change onclick location to actual meeting dashboard.-->
                    <tr onclick="window.location='{% url 'meeting_details' club.club_url_name meeting.id %}';">
                        <td>{{meeting.title}}</td>
                        <td>{{meeting.organiser.username}}</td>
                        <td>{{meeting.meeting_time}}</td>
                        <td>
                          <!--Insert URL for join meeting here-->
                          
                          {% comment %} <form method="post" action="{% url 'join meeting url' club_url_name=club.club_url_name %}"> {% endcomment %}
                            {% comment %} {% csrf_token %} {% endcomment %}
                            <button type="submit" class="button is-info">Join Meeting</button>
                          {% comment %} </form> {% endcomment %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    {% else %} <!-- If there is no meetings available to the logged-in user -->
      <hr class="solid">
      <p>There are no available meetings at the moment.</p>
    {% endif %}
  
  </div>
</div>
<script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>

{% endblock %}
