{% extends 'base_content.html' %}

{% block page_title %}
Create Book List
{% endblock page_title %}

{% block page_subtitle %}
Create your own book lists here!
{% endblock page_subtitle %}

{% block content %}

<div class="columns">

    <div class="column is-3">

        <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

            <p class="menu-label">Book List</p>

            <ul class="menu-list">
                <li><a href="{% url 'booklists_list' user.username %}">My Book Lists</a></li>
                <li><a class="is-active"><b>Create Book List</b></a></li>
                <li><a>Saved Lists</a></li>
            </ul>

        </aside>

    </div>

    <div class="column is-9">

        <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'user_dashboard' %}">{{ user.username }}</a></li>
                <li><a href="{% url 'booklists_list' user.username %}">Book Lists</a></li>
                <li><a href="{% url 'create_booklist' user.username %}">Create</a></li>
            </ul>
        </nav>

        <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Create a book list</h1>
                    <h2 class="subtitle">Enter the details of your new book list</h2>
                </div>
            </div>
        </section>

        <div class="columns">

            <div class="column is-12">
                <form class="" action="{% url 'create_booklist' user.username %}" method="post">
                  {% csrf_token %}
                  {% include 'partials/bulma_form.html' with form=form %}
                  <input type="submit" value="Create Book List" class="button is-link">
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock %}
