{% extends 'base_content.html' %}

{% block page_title %}
Create Club
{% endblock page_title %}

{% block page_subtitle %}
This is a page to create your own club.
{% endblock page_subtitle %}

{% block content %}

<div class="columns">
    <div class="column is-9">

        <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a>My Club Memberships</a></li>
                <li><a>{{form.name.data}}</a></li>
                <li><a>Edit Club</a></li>
            </ul>
        </nav>

        <section class="hero is-link welcome is-small" style="margin: 10px 0px;">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Edit club</h1>
                    <h2 class="subtitle">Edit the details of your club here</h2>
                </div>
            </div>
        </section>

        <div class="columns">

            <div class="column is-12">
                <form method="post">
                  {% csrf_token %}
                  {% include 'partials/bulma_form.html' with form=form %}
                  <input type="submit" value="Update Club" class="button is-link">
                </form>
            </div>

        </div>

    </div>

</div>

{% endblock %}
