{% extends 'base.html' %}

{% block body %}

<section class="hero is-fullheight">
    <div class="hero-body is-link">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black">Edit Club</h3>
                <hr class="login-hr">
                <div class="box">
                    <figure class="avatar" style="padding-bottom: 20px;">
                        <img class="is-rounded" src="https://via.placeholder.com/128x128">
                    </figure>
                    
                    {% if messages %}

                        {% for message in messages %}

                            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <article class="message is-success" style="padding-bottom: 0px;">
                                    <div class="message-header">
                                        {{ message }}
                                    </div>
                                </article>
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <article class="message is-danger" style="padding-bottom: 0px;">
                                    <div class="message-header">
                                        {{ message }}
                                    </div>
                                </article>
                            {% endif %}

                        {% endfor %}

                    {% endif %}

                    <form method="post">
                        {% csrf_token %}
                        <div class="field">
                            <div class="control" style="padding-bottom: 20px;">
                                <input name="name" class="input is-large" type="text" placeholder="{{ club.name }}" autofocus="">
                            </div>

                            <div class="control" style="padding-bottom: 20px;">
                                <input name="description" class="input is-large" type="text" placeholder="{{ club.description }}" autofocus="">
                            </div>
                        
                            <div class="control" style="padding-bottom: 20px;">
                                <input name="rules" class="input is-large" type="text" placeholder="{{ club.rules }}">
                            </div>
                        <div class="field>">
                            <label>Privacy</label>
                            <div class="control">
                                <label class="radio"> 
                                  <input type="radio" name="is_private">
                                  Private
                                </label>
                                <label class="radio">
                                  <input type="radio" name="is_private">
                                  Public
                              </div>
                            <div class="control">
                                <button class="button is-block is-info is-large is-fullwidth">Confirm Changes <i class="fa fa-sign-up" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        </div>
                    </form>

                </div>
                <p class="has-text-grey">
                    <a href="{% url 'login' %}">Login</a> &nbsp;·&nbsp;
                    <a href="#">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}