{% extends 'base_content.html' %}
{% block page_title %}
    User Dashboard
{% endblock page_title %}
{% block page_subtitle %}
    This is the Edit Profile page, you can change your profile details!
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            <aside class="menu is-hidden-mobile" style="padding-left: 15px;">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'user_dashboard' %}">Profile Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'edit_profile' %}" class="is-active"><b>Edit Profile</b></a>
                    </li>
                    <li>
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </li>
                    <li>
                        <a href="#">Profile Settings</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Clubs
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'create_club' %}">Create Club</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Join club</a>
                    </li>
                    <li>
                        <a href="{% url 'my_club_memberships' %}">Memberships</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Book Lists
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'booklists_list' user.username %}">My Book Lists</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Agenda
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'agenda' %}">View Agenda</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a>Profile</a>
                    </li>
                    <li>
                        <a>Edit Profile</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Edit Profile</h1>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-12">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                User Details
                            </p>
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded"
                                             src="https://image.shutterstock.com/image-vector/default-avatar-profile-icon-grey-600w-518740741.jpg"
                                             alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <form action="{% url 'edit_profile' %}" method="post">
                                            {% csrf_token %}
                                            <div class="field">
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <input name="username" class="input is-large" type="username" value={{ user.username }} autofocus="">
                                                </div>
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <input name="email" class="input is-large" type="email" value= {{ user.email }} autofocus="">
                                                </div>
                                                <div class="control" style="padding-bottom: 20px;">
                                                    <textarea name="public_bio" class="textarea">{{ user.public_bio }}</textarea>
                                                </div>
                                                <div class="control">
                                                    <button class="button is-block is-info is-large is-fullwidth">Save Change</button>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
