{% extends 'base_content.html' %}
{% block page_title %}
    Edit Club
{% endblock page_title %}
{% block page_subtitle %}
    This is a page to edit the details of your club.
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            {% include 'partials/club_aside.html' with current_club=club %}
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'my_club_memberships' %}">Club</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' club.club_url_name %}">{{ club.name }}</a>
                    </li>
                    <li>
                        <a>Edit Club</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Edit club</h1>
                        <h2 class="subtitle">Edit the details of your club here</h2>
                    </div>
                </div>
            </section>
            <form method="post">
                {% csrf_token %}
                {% include 'partials/bulma_form.html' with form=form %}
                <input type="submit" value="Update Club" class="button is-link">
            </form>
        </div>
    </div>
{% endblock %}
