{% extends 'base_content.html' %}
{% block page_title %}
    Following and Followers
{% endblock page_title %}
{% block page_subtitle %}
    Here you can see following and followers of a member!
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            {% include 'partials/aside_menu/profile_aside.html' %}
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                aria-label="breadcrumbs"
                style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'user_profile' username %}">{{ username }}</a>
                    </li>
                    <li>
                        <a href="{% url 'user_following' username %}">Following</a>
                    </li>
                </ul>
            </nav>
            <div id="tabs-with-content">
                <div class="tabs">
                    <ul>
                        <li class="is-active">
                            <a>Followers</a>
                        </li>
                        <li>
                            <a>Following</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <section class="tab-content">
                        {% include 'partials/follower_list.html' with followers=followers %}
                    </section>
                    <section class="tab-content">
                        {% include 'partials/followee_list.html' with followees=followees %}
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
