{% extends 'base_content.html' %}
{% block page_title %}
    Home
{% endblock page_title %}
{% block page_subtitle %}
    Welcome to our homepage for our Book Club Social Network!
{% endblock page_subtitle %}
{% block content %}
    <div class="section">
        <div class="row columns is-multiline">
            <div class="column is-4">
                <div class="card large card-equal-height">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://i.pinimg.com/originals/04/14/50/041450d28a4236a0a666901b191cc609.png"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Library
                        </p>
                        <div class="content">See our collection of books, community-made reviews & booklists and our recommendations!</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item" href="{% url 'library_dashboard' %}">View Library</a>
                        <a class="card-footer-item" href="{% url 'library_books' %}">See Our Books</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card large card-equal-height">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://images.unsplash.com/photo-1615791287388-6f1bd87ace4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Clubs
                        </p>
                        <div class="content">Look and join our communities of clubs, for meetings, forums and recommendations.</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item" href="{% url 'my_club_memberships' %}">Memberships</a>
                        <a class="card-footer-item" href="{% url 'available_clubs' %}">Join Clubs</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card large card-equal-height">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Agenda
                        </p>
                        <div class="content">Check your Agenda for your meetings and upcoming events for clubs.</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item" href="{% url 'agenda' %}">View Agenda</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card large">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Forum
                        </p>
                        <div class="content">Post to our public forum, giving the community your thoughts, opinions and questions.</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item" href="{% url 'global_forum' %}">View Forum</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card large card-equal-height">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://images.unsplash.com/photo-1474403078171-7f199e9d1335?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            User Profile
                        </p>
                        <div class="content">View your user profile and make changes to your profile.</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item"  href="{% url 'user_dashboard' %}">Dashboard</a>
                        <a class="card-footer-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card large card-equal-height">
                    <div class="card-image">
                        <figure class="image is-16by9">
                            <img src="https://images.unsplash.com/photo-1628046903351-992bd4b583e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                                 alt="Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title">
                            Bookshelf
                        </p>
                        <div class="content">Track your reading progress here.</div>
                    </div>
                    <div class="card-footer">
                        <a class="card-footer-item" href="{% url 'bookshelf' %}">Visit your Bookshelf</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
