{% extends 'base_content.html' %}

{% block page_title %}
Library Books
{% endblock page_title %}

{% block page_subtitle %}
This is our Library, you can look at our books and click and see further details and reviews!
{% endblock page_subtitle %}

{% block content %}

<div class="columns">

    <div class="column is-3">

        <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

            <ul class="menu-list">
                <li><a href="{% url 'library_dashboard' %}">Dashboard</a></li>
            </ul>

            <p class="menu-label">Our Book Library</p>

            <ul class="menu-list">
                <li><a href="{% url 'library_dashboard' %}" class="is-active"><b>View Library</b></a></li>
            </ul>

            <p class="menu-label">Book Lists</p>

            <ul class="menu-list">
                <li><a>View Book Lists</a></li>
                <li><a>Create Book Lists</a></li>
            </ul>

            <p class="menu-label">Recommender</p>

            <ul class="menu-list">
                <li><a>AI Recommended Books</a></li>
            </ul>

            <p class="menu-label">Reviews</p>

            <ul class="menu-list">
                <li><a>Make Review</a></li>
                <li><a>View Personal Reviews</a></li>
            </ul>

        </aside>

    </div>

    <div class="column is-9">

        <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li><a href="#">Dashboard</a></li>
            </ul>
        </nav>

        <section class="hero is-link welcome is-small" style="margin: 10px 0px;">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{ current_club.name }}</h1>
                    <h2 class="subtitle">{{ current_club.tagline }}</h2>
                </div>
            </div>
        </section>

        {% if books %} <!-- If there are clubs available to the logged-in user -->
            <div class="table-container">
               <table class="table is-hoverable is-fullwidth" id="table-books" data-toggle="table" data-pagination="true">
                  <thead>
                      <tr>
                          <th scope="col">Book Cover</th>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Publisher</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for book in books %}
                          <tr onclick="window.location='{% url 'home' %}';">
                              <td><img src="{{book.imageS}}" alt=""/></td>
                              <td>{{book.title}}</td>
                              <td>{{book.author}}</td>
                              <td>{{book.publisher}}</td>
                              <td><button class="button is-fullwidth is-success">View</button></td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% else %}
            <hr>
            <p style="text-align: center">There are no available books at the moment.</p>
            <hr>
        {% endif %}

    </div>

</div>

<script>
const dataTable = new simpleDatatables.DataTable("#table-books", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>

{% endblock %}