{% extends 'base_content.html' %}

{% block page_title %}
Library Books
{% endblock page_title %}

{% block page_subtitle %}
This is our Library, you can look at our books and click and see further details and reviews!
{% endblock page_subtitle %}

{% block content %}

<div class="columns">

    <div class="column is-3">

        <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

            <ul class="menu-list">
                <li><a href="{% url 'library_dashboard' %}">Dashboard</a></li>
            </ul>

            <p class="menu-label">Our Book Library</p>

            <ul class="menu-list">
                <li><a href="{% url 'library_books' %}" class="is-active"><b>View Library</b></a></li>
            </ul>

            <p class="menu-label">Book Lists</p>

            <ul class="menu-list">
                <li><a>View Book Lists</a></li>
                <li><a>Create Book Lists</a></li>
            </ul>

            <p class="menu-label">Recommender</p>

            <ul class="menu-list">
                <li><a>AI Recommended Books</a></li>
            </ul>

            <p class="menu-label">Reviews</p>

            <ul class="menu-list">
                <li><a>Make Review</a></li>
                <li><a>View Personal Reviews</a></li>
            </ul>

        </aside>

    </div>

    <div class="column is-9">

        <nav class="breadcrumb" aria-label="breadcrumbs" style="padding-left: 5px;">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'library_dashboard' %}">Library</a></li>
                <li><a href="{% url 'library_books' %}">Books</a></li>
            </ul>
        </nav>

        <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Books</h1>
                    <h2 class="subtitle">View our table of books below.</h2>
                </div>
            </div>
        </section>

        {% include 'partials/pagination_search.html' %}

        {% if books %}
            <div class="table-container">
               <table class="table is-hoverable is-fullwidth" id="table-books" data-toggle="table" data-pagination="true">
                  <thead>
                      <tr>
                          <th scope="col">Book Cover</th>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Publisher</th>
                          <th scope="col">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for book in page_obj %}
                          <tr onclick="window.location='{% url 'book_view' book.id %}';">
                              <td>
                                  {% if book.imageM %}
                                  <img src="{{book.imageM}}" alt=""/>
                                  {% else %}
                                  <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""/>
                                  {% endif %}
                              </td>
                              <td>{{book.title}}</td>
                              <td>{{book.author}}</td>
                              <td>{{book.publisher}}</td>
                              <td><button class="button is-fullwidth is-link">View</button></td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
            </div>

            {% include 'partials/pagination.html' %}
        {% else %}
            <hr>
            <p style="text-align: center">There are no available books at the moment.</p>
            <hr>
        {% endif %}

    </div>

</div>

<script>
const dataTable = new simpleDatatables.DataTable("#table-books", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>

{% endblock content%}