{% extends 'base_content.html' %}

{% block page_title %}
Meetings
{% endblock page_title %}

{% block page_subtitle %}
Find the Meeting you are looking for here!
{% endblock page_subtitle %}

{% block content %}

<div class="column is-3">

  <aside class="menu is-hidden-mobile" style="padding-left: 15px;">

      <p class="menu-label">Partition 1</p>

      <ul class="menu-list">
          <li><a class="is-active">Meeting List</a></li>
          <li><a>Placeholder 1</a></li>
          <li><a>Placeholder 2</a></li>
      </ul>

       <p class="menu-label">Partition 2</p>

      <ul class="menu-list">
        <li><a>Placeholder 3</a></li>
        <li><a>Placeholder 4</a></li>
      </ul>

  </aside>

</div>

<div class="column is-9">
<section class="hero is-fullheight">
    <div class="column is-4 is-offset-4">
      {% if meetings %} <!-- If there are clubs available to the logged-in user -->
        <div class="table-container">
           <table class="table is-hoverable" id="table-clubs" data-toggle="table" data-pagination="true">
              <thead>
                  <tr>
                      <th scope="col">Meeting Name</th>
                      <th scope="col">Organiser</th>
                      <th scope="col">Time</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for meeting in meetings %}
                    <!-- For each available club, add a row linked to the corresponding club dashboard page -->
                      <tr onclick="window.location='{% url 'meeting_dashboard' meeting.get_title %}';">
                          <td>{{meeting.club.name}}</td>
                          <td>{{meeting.organiser.username}}</td>
                          <td>{{meeting.meeting_time}}
                          <td>
                            <!--Put your buttons here-->
                            <p>Action Button</p>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      {% else %} <!-- If there is no meetings available to the logged-in user -->
        <hr class="solid">
        <p>There are no available meetings at the moment.</p>
      {% endif %}
    </div>
</section>
<script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>

{% endblock %}
