{% extends 'base_content.html' %}
{% block page_title %}
    Club Memberships
{% endblock page_title %}
{% block page_subtitle %}
    Find the Book Club memberships here
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            <aside class="menu is-hidden-mobile" style="padding-left: 15px;">
                <p class="menu-label">
                    Clubs
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'available_clubs' %}">Available Clubs</a>
                    </li>
                    <li>
                        <a class="is-active"><b>Memberships</b></a>
                    </li>
                    <li>
                        <a href="{% url 'applications' %}">My Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'create_club' %}">Create Club</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Useful Links
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'user_dashboard' %}">User Profile</a>
                    </li>
                    <li>
                        <a href="{% url 'library_dashboard' %}">Library</a>
                    </li>
                    <li>
                        <a href="{% url 'global_forum' %}">Global Forum</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'my_club_memberships' %}">Memberships</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Memberships</h1>
                        <h2 class="subtitle">List of Clubs you have joined.</h2>
                    </div>
                </div>
            </section>
            {% if clubs %}
                <!-- If there are clubs available to the logged-in user -->
                <table class="table is-hoverable is-fullwidth"
                       id="table-clubs"
                       data-toggle="table"
                       data-pagination="true">
                    <thead>
                        <tr>
                            <th scope="col">Club Name</th>
                            <th scope="col">Tagline</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for club in clubs %}
                            <!-- For each available club, add a row linked to the corresponding club dashboard page -->
                            <tr onclick="window.location='{% url 'club_dashboard' club.club_url_name %}';">
                                <td>{{ club.name }}</td>
                                <td>{{ club.tagline }}</td>
                                <td>{{ club.description }}</td>
                                <td>
                                    <button class="button is-fullwidth is-success">View</button>
                                    <button class="button is-fullwidth is-danger">Leave</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <!-- If there is no club available to the logged-in user -->
                <hr>
                <p style="text-align: center">
                    You are not a member of any club, you can find clubs <a href="{% url 'available_clubs' %}">here</a>.
                </p>
                <hr>
            {% endif %}
        </div>
    </div>
    <script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
    </script>
{% endblock %}
