{% extends 'base_content.html' %}

{% block page_title %}
My Club Memberships
{% endblock page_title %}

{% block page_subtitle %}
Find the Book Clubs you have memberships for here!
{% endblock page_subtitle %}

{% block content %}

<section class="hero is-fullheight">
    <div class="column is-4 is-offset-4">
      {% if clubs %} <!-- If there are clubs available to the logged-in user -->
        <div class="table-container">
           <table class="table is-hoverable" id="table-clubs" data-toggle="table" data-pagination="true">
              <thead>
                  <tr>
                      <th scope="col" width="25%">Club Name</th>
                      <th scope="col" width="60%">Description</th>
                      <th scope="col" width="15%">Action</th>
                  </tr>
              </thead>
              <tbody>
                  {% for club in clubs %}
                    <!-- For each available club, add a row linked to the corresponding club dashboard page -->
                      <tr onclick="window.location='{% url 'home' %}';">
                          <td>{{club.name}}</td>
                          <td>{{club.description}}</td>
                          <td>
                            <form method="post" action="{% url 'leave_club' url_name=club.url_name %}">
                              {% csrf_token %}
                              <button type="submit" class="button is-danger" onclick="return confirm('Confirm you want to leave {{club.name}}?');">Leave</button>
                            </form>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      {% else %} <!-- If there is no club available to the logged-in user -->
        <hr class="solid">
        <p>You are not a member of any club, you can find clubs <a href="{% url 'available_clubs' %}">here</a>.</p>
      {% endif %}
    </div>
</section>
<script>
const dataTable = new simpleDatatables.DataTable("#table-clubs", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>

{% endblock %}
