{% extends 'base.html' %}
{% block body %}
    <section class="hero">
        <div class="hero-body is-link">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <hr class="login-hr">
                    <div class="box">
                        <div style="font-size:20px">
                            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                            <br>
                            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                        </div>

                    </div>
                    <p class="has-text-grey">
                        <a href="{% url 'home' %}">Home</a> &nbsp;·&nbsp;
                        <a href="{% url 'login' %}">Login</a> &nbsp;·&nbsp;
                        <a href="{% url 'sign_up' %}">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
