{% extends 'base.html' %}
{% block body %}
    <section class="hero">
        <div class="hero-body is-link">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <hr class="login-hr">
                    <div class="box">
                        <div style="font-size:20px">
                            <p>Your password has been set. You may go ahead and log in now.</p>
                            <br>
                            <a href="{% url 'login' %}">
                                <button class="button is-link">
                                    <span>Login</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-sign-in"></i>
                                    </span>
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
