{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <section class="hero">
        <div class="hero-body is-link">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Reset your password</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">
                        Please enter a new password
                    </p>
                    <div class="box">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <article class="message is-success" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <article class="message is-danger" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
<!--							<div class="control" style="padding-bottom: 20px;">-->
<!--								<input name="new_password1"-->
<!--									   class="input"-->
<!--									   type="password"-->
<!--									   placeholder="New Password"-->
<!--									   id="id_new_password1">-->
<!--							</div>-->
<!--							<div class="control" style="padding-bottom: 20px;">-->
<!--								<input name="new_password2"-->
<!--									   class="input"-->
<!--									   type="password"-->
<!--									   placeholder="Confirm Password"-->
<!--									   id="id_new_password2">-->
<!--							</div>-->
                            <button class="button is-link" type="submit" name="Update Password">
                                <span>Reset</span>
                            </button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="{% url 'login' %}">Login</a> &nbsp;·&nbsp;
                        <a href="{% url 'sign_up' %}">Sign Up</a> &nbsp;·&nbsp;
                        <a href="#">Need Help?</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
