{% extends 'base_content.html' %}
{% block page_title %}
    User Profile
{% endblock page_title %}
{% block page_subtitle %}
    This is the User Profile, this is where you can view other profiles!
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            <aside class="menu is-hidden-mobile" style="padding-left: 15px;">
                <p class="menu-label">
                    Profile
                </p>
                <ul class="menu-list">
                    <li>
                        <a class="is-active"><b>Profile Dashboard</b></a>
                    </li>
                    <li>
                        <a href="{% url 'user_following' username %}">Following</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Clubs
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'user_memberships' username %}">Club Memberships</a>
                    </li>
                </ul>
                <p class="menu-label">
                    Books
                </p>
                <ul class="menu-list">
                    <li>
                        <a href="{% url 'user_memberships' username %}">Book Lists</a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href={% url 'user_dashboard' %}>Profile</a>
                    </li>
                    <li>
                        <a>{{ username }}</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">{{ username }}'s Dashboard</h1>
                        <h2 class="subtitle">Welcome to {{ username }}'s profile page!</h2>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-12">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                User Details
                            </p>
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-128x128">
                                        <img class="is-rounded" src="{{ gravatar }}" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="subtitle is-5">
                                            <b>Username: </b> {{ username }}
                                        </p>
                                        <p class="subtitle is-5">
                                            <b>Public Bio: </b> {{ public_bio }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns">
              <div class="column is-12">
                  <div class="card">
                      <div class="card-content">
                        <button class="" type="button" name="follow-button" id="follow-button" onclick="followButtonClick()">
                       </button>
                      </div>
                  </div>
              </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                Following
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer-item">
                                <span><a href="#">View All</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                Club Memberships
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer-item">
                                <span><a href="#">View All</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            20
                        </p>
                        <p class="subtitle">
                            Book Lists
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            69k
                        </p>
                        <p class="subtitle">
                            Following
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            5
                        </p>
                        <p class="subtitle">
                            Clubs Joined
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <p class="title">
                            +19
                        </p>
                        <p class="subtitle">
                            Review Score
                        </p>
                    </article>
                </div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                Book Lists
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer-item">
                                <span><a href="#">Read List</a></span>
                            </p>
                            <p class="card-footer-item">
                                <span><a href="#">View All</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-6">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">
                                Reviews
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-footer-item">
                                <span><a href="#">View All</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <section class="info-tiles">
                <div class="tile is-ancestor has-text-centered">
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">
                                20
                            </p>
                            <p class="subtitle">
                                Currently Reading
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">
                                69k
                            </p>
                            <p class="subtitle">
                                Completed Books
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">
                                5
                            </p>
                            <p class="subtitle">
                                On-hold
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child box">
                            <p class="title">
                                +19
                            </p>
                            <p class="subtitle">
                                Plan to Read
                            </p>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">

    const follow_view_url = "{% url 'follow_user' username%}";

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    function followButtonRefresh(data){
      if (data == null) {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200) {
            data = JSON.parse(this.response);
          }
        }
        request.open("GET", follow_view_url, false);
        request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        request.send();
      }

      const button = document.getElementById('follow-button');
      const buttonIsFollowingHTML = '<span class="icon is-small"><i class="fas fa-check"></i></span><span>Following</span>';
      const buttonToFollowHTML = '<span class="icon is-small"><i class="fas fa-plus"></i></span><span>Follow</span>';
      const buttonErrorHTML = '<span class="icon is-small"><i class="fas fa-circle-exclamation"></i></span><span>Follow Functionality Unavailable</span>';

      if (data) {
        if (data['is_followed'] == true) {
          button.className = 'is-link';
          button.innerHTML = buttonIsFollowingHTML;
        }
        else{
          button.className = 'is-info';
          button.innerHTML = buttonToFollowHTML;
        }
      }
      else{
        button.className = 'is-warning';
        button.innerHTML = buttonErrorHTML;
      }

      button.classList.add('button', 'is-fullwidth');


    }

    function followButtonClick(){
      let request = new XMLHttpRequest();
      request.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200) {
          data = JSON.parse(this.response);
          followButtonRefresh(data);
        }
      }
      request.open("POST", follow_view_url);
      request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
      request.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
      request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      request.send();
    }

    followButtonRefresh(null);
  </script>
{% endblock %}
