<div class="card-content">

    <div class="content">
        <p class="subtitle is-4 charlimit">
            {{meeting.description}}
            <br>
        </p>
        <span class="subtitle is-5">
                Organised by <i>{{meeting.organiser}}</i> for <i>{{meeting.club}}</i>
            </span>
        <br>
        <i>{{meeting.meeting_time}}</i>
    </div>

</div>
<footer class="card-footer">
    <a href="{% url 'meeting_details' meeting.club.club_url_name meeting.id %}"
       class="card-footer-item">View</a>
</footer>