{% if books %}
    <div class="table-container">
        <table class="table is-hoverable is-fullwidth"
               id="table-books"
               data-toggle="table"
               data-pagination="true">
            <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    {% if not user.is_authenticated or user.booklist_set.count > 0 %}<th scope="col">Add to List</th>{% endif %}
                    <th scope="col"></th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            {% if book.imageM %}
                                <img src="{{ book.imageM }}" alt=""/>
                            {% else %}
                                <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                     alt=""/>
                            {% endif %}
                        </td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.publisher }}</td>
                        <td>
                            {% if not user.is_authenticated %}
                                <p>
                                    <a href="{% url 'login' %}">Log in</a>
                                </p>
                            </td>
                        {% elif user.is_authenticated and user.booklist_set.count > 0 %}
                            <form action="{% url 'add_to_book_list' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" id="book" name="book" value="{{ book.id }}"/>
                                <div class="control">
                                    <div class="select">
                                        <select required id="booklist" name="booklist">
                                            <option value="" selected disabled hidden>
                                                Choose here
                                            </option>
                                            {% for list in lists %}
                                                <option value="{{ list.id }}">
                                                    {{ list.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <td>
                                    <div class="control">
                                        <input type="submit" value="Add" class="button is-link"/>
                                    </div>
                                </td>
                            </form>
                        {% endif %}
                        <td>
                            <button class="button is-fullwidth is-link"
                                    onclick="window.location='{% url 'book_view' book.id %}';">View</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'partials/pagination_ajax.html' with page_obj=books %}
{% else %}
    <hr />
    <p style="text-align: center">
        There are no available books at the moment.
    </p>
    <hr />
{% endif %}
