<div class="control is-expanded">
    <input class="input is-rounded"
           type="text"
           name="q"
           id="user_input"
           placeholder="Search"/>
</div>
<div id="replaceable_content" class="column is-12">
    {% include 'partials/partial_books_list.html' with is_selection=True %}
</div>

<script>
    const user_input = $("#user_input")
    const books_div = $("#replaceable_content")
    const view = "/search_books/"
    const delay_by_in_ms = 700
    let scheduled_function = false

    let ajax_call = function (view, request_parameters) {
        $.getJSON(view, request_parameters).done(response => {
            books_div.fadeTo('fast', 0).promise().then(() => {
                books_div.html(response['html_from_view'])

                books_div.fadeTo('fast', 1)
            })
        })
    }

    user_input.on('keyup', function () {
        const request_parameters = {
            q: $(this).val()
        }
        
        if (scheduled_function){
            clearTimeout(scheduled_function)
        }
        scheduled_function = setTimeout(ajax_call, delay_by_in_ms, view, request_parameters)
    })
</script>