<div class="control has-text-centered">
  <button type="button"
          class="button is-danger js-modal-trigger center {% if fullwidth %}is-fullwidth{% endif %} {% if outlined %}is-outlined{% endif %}"
          data-target="{{ delete_modal_id }}-delete-modal"
          aria-haspopup="true">
      <span>
        {% if button_text %}
        {{button_text}}
        {% else %}
        Delete
        {% endif %}
      </span>
      <span class="icon is-small">
          <i class="fas fa-times"></i>
      </span>
  </button>
</div>

<div class="modal" id="{{ delete_modal_id }}-delete-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title" style="text-align:left">
                Confirm Deletion
            </p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body" style="text-align:left">
          {% if modal_text %}
          {{modal_text}}
          {% else %}
          Are you sure you want to permanently delete <strong>{{ delete_item.get_delete_str }}</strong>?
          {% endif %}
        </section>
        <footer class="modal-card-foot">
            <div class="field is-grouped">
                <div class="control">
                    <form action="{{ delete_item.get_delete_url }}" method="post">
                        {% csrf_token %}
                        <button class="button is-danger">Delete</button>
                    </form>
                </div>
                <div class="control">
                    <button class="button">Cancel</button>
                </div>
            </div>
        </footer>
    </div>
</div>
