<div class="navbar-item has-dropdown is-hoverable">
    <a href="{% url 'user_dashboard' %}" class="navbar-link">{{ request.user.username }}</a>
    <div class="navbar-dropdown is-boxed is-right">
        <a class="navbar-item" href="{% url 'user_dashboard' %}">Dashboard</a>
        <a class="navbar-item" href="{% url 'edit_profile' %}">Edit Profile</a>
        <a class="navbar-item" href="{% url 'password_change' %}">Change Password</a>
        <hr class="navbar-divider"/>
        <a class="navbar-item" href="{% url 'log_out' %}">Logout</a>
    </div>
</div>
