<section class="hero is-info welcome is-small" style="margin: 10px 0px;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ followees.count }} Following</h1>
        </div>
    </div>
</section>
{% if followees %}
    {% for followee in followees %}
        <div class="columns">
            <div class="column is-12">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img class="is-rounded"
                                         src="{{ followee.gravatar }}"
                                         alt="Placeholder image">
                                </figure>
                            </div>
                            <hr class="solid">
                            <div class="media-content">
                                <div class="content">
                                    <p class="text">
                                        <b>Name: </b> {{ followee.username }}
                                    </p>
                                    <p class="text">
                                        <b>Public Bio: </b> {{ followee.public_bio }}
                                    </p>
                                </div>
                                <div class="buttons">
                                    <a href="{% url 'user_profile' followee.username %}">
                                        <button class="button is-warning is-normal">View</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<hr>
<p style="text-align: center;" class="has-text-grey">
    This user isn't following anyone.
</p>
<hr>
{% endif %}
