<nav class="pagination is-rounded is-left"
     role="navigation"
     aria-label="pagination">
    {% if page_obj.has_previous %}
        <a id="first-page" class="pagination-previous">&#60;&#60; First</a>
        <a id="prev-page" class="pagination-previous">&#60; Previous</a>
    {% endif %}
    <ul class="pagination-list">
        <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    </ul>
    {% if page_obj.has_next %}
        <a id="next-page" class="pagination-next">Next &#62;</a>
        <a id="last-page" class="pagination-next">Last &#62;&#62;</a>
    {% endif %}
</nav>
<script>
    var next_page = $("#next-page")
    var prev_page = $("#prev-page")
    var first_page = $("#first-page")
    var last_page = $("#last-page")

    next_page.on('click', function(){
        {% if page_obj.has_next %}
        var page_num = {{ page_obj.next_page_number }}
        
        request_parameters['page'] = page_num
        if (scheduled_function){
            clearTimeout(scheduled_function)
        }
        scheduled_function = setTimeout(call_search, 100, view, request_parameters)
        {% endif %}
    })

    prev_page.on('click', function(){
        {% if page_obj.has_previous %}
        var page_num = {{ page_obj.previous_page_number }}
        
        request_parameters['page'] = page_num
        if (scheduled_function){
            clearTimeout(scheduled_function)
        }
        scheduled_function = setTimeout(call_search, 100, view, request_parameters)
        {% endif %}
    })

    first_page.on('click', function(){
        var page_num = 1
        request_parameters['page'] = page_num
        if (scheduled_function){
            clearTimeout(scheduled_function)
        }
        scheduled_function = setTimeout(call_search, 100, view, request_parameters)
    })

    last_page.on('click', function(){
        var page_num = {{ page_obj.paginator.num_pages }}
        request_parameters['page'] = page_num
        if (scheduled_function){
            clearTimeout(scheduled_function)
        }
        scheduled_function = setTimeout(call_search, 100, view, request_parameters)
    })
</script>
