<nav class="pagination is-rounded is-left"
     role="navigation"
     aria-label="pagination">
    {% if page_obj.has_previous %}
        <a class="pagination-previous">&#60;&#60; First</a>
        <a class="pagination-previous"
           href="?page={{ page_obj.previous_page_number }}">&#60; Previous</a>
    {% endif %}
    <ul class="pagination-list">
        <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
    </ul>
    {% if page_obj.has_next %}
        <a class="pagination-next">Next &#62;</a>
        <a class="pagination-next"
           href="?page={{ page_obj.paginator.num_pages }}">Last &#62;&#62;</a>
    {% endif %}
</nav>
<script>
    const next_page = $('#next-page')
    const prev_page = $('#prev-page')
    request_parameters.push('page':)
