{% if books %}
    <div class="table-container">
        <table class="table is-hoverable is-fullwidth is-scrollable"
               id="table-books"
               data-toggle="table"
               height="200px">
            <thead>
                <tr>
                    <th scope="col">Cover</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    {% if is_selection %}
                        <th scope="col">Select</th>
                    {% else %}
                        <th scope="col">View</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                    <tr>
                        <td>
                            {% if book.imageM %}
                                <img src="{{ book.imageM }}" alt=""/>
                            {% else %}
                                <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                     alt=""/>
                            {% endif %}
                        </td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        {% if is_selection %}
                            <td>
                                select
                            </td>
                        {% else %}
                            <td>
                                <button class="button is-fullwidth is-link"
                                        onclick="window.location='{% url 'book_view' book.id %}';">View</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <hr />
    <p style="text-align: center">
        There are no available books at the moment.
    </p>
    <hr />
{% endif %}
<script>
const dataTable = new simpleDatatables.DataTable("#table-books", {
    columns: [
      {select: [1], sortable:false}
    ]
})
</script>
