<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div class="carousel">
            {% for book in recommendations %}
                <div class="item-{{ forloop.counter0 }}">
                    <div class="column is-12">
                        <div class="card">
                            <a href="{% url 'book_view' book.id %}">
                                <div class="card-image">
                                    <figure class="image is-3by5">
                                        <img src="{{ book.imageL }}" alt="Image of {{ book.title }}" />
                                    </figure>
                                </div>
                                <div class="card-content">{{ book.title }}</div>
                                <div class="card-footer">
                                    <a class="card-footer-item" href="#">Add to book list</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide Content -->
                    </div>
                {% empty %}
                
                        
                    Error, no recommendations found. Please contact the site adminstrator as there is likely an issue with the site configuration.
                        
                    
                {% endfor %}
            </div>
            <!-- End Carousel -->
        </div>
    </section>
