<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        {% if recommendations %}
            <div class="carousel">
                {% for book in recommendations %}
                    <div class="item-{{ forloop.counter0 }}">
                        <div class="column is-12">
                            <div class="card">
                                <a href="{% url 'book_view' book.id %}">
                                    <div class="card-image">
                                        <figure class="image is-3by5">
                                            {% if book.get_l_size > 50 %}
                                                <img src="//images.weserv.nl/?url={{ book.imageL }}" alt="Book Cover">
                                            {% else %}
                                                <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                                                     alt="Book Cover">
                                            {% endif %}
                                        </figure>
                                    </div>
                                </a>
                                <div class="card-content">{{ book.title }}</div>
                            </div>
                        </div>
                        <!-- Slide Content -->
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Error, no recommendations found. Please contact the site adminstrator as there is likely an issue with the site configuration.
        {% endif %}
        <!-- End Carousel -->
    </div>
</section>
