{% extends 'base.html' %}
{% block body %}
    <section class="hero is-fullheight">
        <div class="hero-body is-link">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                  <div class="has-text-centered">
                    <h3 class="title has-text-black">Sign Up</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">
                        Please sign up to access member-only features
                    </p>
                    <br>
                  </div>
                    <div class="box">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <article class="message is-success" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <article class="message is-danger" style="padding-bottom: 0px;">
                                        <div class="message-header">{{ message }}</div>
                                    </article>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <form action="{% url 'sign_up' %}" method="post">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control" style="padding-bottom: 10px;">
                                    <input name="username"
                                           class="input is-large"
                                           type="username"
                                           placeholder="Username"
                                           autofocus="">
                                    <div style="font-size: 10pt; color: red; padding-top: 5px;">  {{ form.username.errors }} </div>
                                </div>
                                <div class="control" style="padding-bottom: 10px;">
                                    <input name="email"
                                           class="input is-large"
                                           type="email"
                                           placeholder="Email"
                                           autofocus="">
                                    <div style="font-size: 10pt; color: red; padding-top: 5px;"> {{ form.email.errors }} </div>
                                </div>
                                <div class="control">
                                    <input name="new_password"
                                           class="input is-large"
                                           type="password"
                                           id="password-field"
                                           placeholder="New Password">
                                    <span class="has-text-grey">Show/Hide Password <i toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                                    <div style="font-size: 10pt; color: red; padding-top: 5px;"> {{ form.new_password.errors }} </div>
                                </div>
                                <div class="control" style="padding-bottom: 10px;">
                                    <input name="password_confirmation"
                                           class="input is-large"
                                           type="password"
                                           id="password-field2"
                                           placeholder="Confirm Password">
                                    <span class="has-text-grey">Show/Hide Password <i toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></i></span>
                                    <div style="font-size: 10pt; color: red; padding-top: 5px;"> {{ form.password_confirmation.errors }} </div>
                                </div>
                                <div class="control" style="padding-bottom: 10px;">
                                    <textarea name="public_bio" class="textarea" placeholder="Public Bio"></textarea>
                                    <div style="font-size: 10pt; color: red; padding-top: 5px;"> {{ form.public_bio.errors }} </div>
                                </div>
                                <div class="control">
                                    <button class="button is-block is-info is-large is-fullwidth">
                                        Sign Up <i class="fa fa-sign-up" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="{% url 'login' %}">Login</a> &nbsp;·&nbsp;
                        <a href="{% url 'home' %}">Back to Home</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
