{% extends 'base_content.html' %}
{% block page_title %}
    Clubs
{% endblock page_title %}
{% block page_subtitle %}
    Join our community
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            {% include 'partials/aside_menu/membership_aside.html' %}
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'applications' %}">Applications</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Active Applications</h1>
                        <h2 class="subtitle">All private clubs you have applied to join</h2>
                    </div>
                </div>
            </section>
            <!-- If the user has applied to any clubs-->
            {% if clubs %}
                <table class="table is-hoverable is-fullwidth"
                       id="table-applications"
                       data-toggle="table"
                       data-pagination="true">
                    <thead>
                        <tr>
                            <th scope="col">Club Name</th>
                            <th scope="col">Tagline</th>
                            <th scope="col">Description</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for club in clubs %}
                            <!-- For each application, show the club details -->
                            <tr>
                                <td>{{ club.name }}</td>
                                <td>{{ club.tagline }}</td>
                                <td>{{ club.description }}</td>
                                <td>
                                    <form method="post"
                                            action="{% url 'leave_club' club.club_url_name %}">
                                        {% csrf_token %}
                                        <button type="submit" class="button is-danger is-outlined">
                                            <span>Cancel</span>
                                            <span class="icon is-small">
                                            <i class="fas fa-times"></i>
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <!-- If the user has not applied to any clubs -->
                <hr>
                <p style="text-align: center" class="has-text-grey">
                    You have not applied to any clubs yet, find more <a href="{% url 'available_clubs' %}" class="is-link"><i>here</i></a>.
                </p>
                <hr>
            {% endif %}
        </div>
    </div>
    <script>
const dataTable = new simpleDatatables.DataTable("#table-applications", {
    fixedHeight: true,
    columns: [
      {select: [1], sortable:false}
    ]
})
    </script>
{% endblock %}
