{% extends 'base_content.html' %}
{% block page_title %}
    {{ current_club.name }}
{% endblock page_title %}
{% block page_subtitle %}
    {{ current_club.tagline }}
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">{% include 'partials/aside_menu/club_aside.html' %}</div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' current_club.club_url_name %}">{{ current_club.name |truncatechars:20 }}</a>
                    </li>
                    <li>
                        <a href="{% url 'edit_featured_books' current_club.club_url_name %}">Featured</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Featured Books</h1>
                        <h2 class="subtitle">Recommend books to club members</h2>
                    </div>
                </div>
            </section>
            <form action="{% url 'edit_featured_books' current_club.club_url_name %}"
                  method="post">
                {% csrf_token %}
                {% include 'partials/bulma_form.html' with form=form %}
                <input type="submit" value="Add" class="button is-link"/>
            </form>
            <br>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="subtitle">Remove Featured Books</h2>
                    </div>
                </div>
            </section>
            {% if featured_books %}
                <br>
                <div class="table-container is-fullwidth">
                    <table class="table is-hoverable is-fullwidth"
                           id="table-featured"
                           data-toggle="table"
                           data-pagination="true">
                        <thead>
                            <tr>
                                <th scope="col">Book</th>
                                <th scope="col">Author</th>
                                <th scope="col">Reason</th>
                                <th scope="col">View</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for featured in featured_books %}
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="media-left">
                                                <figure class="image">
                                                    {% if featured.book.get_s_size > 50 %}
                                                        <img src="//images.weserv.nl/?url={{ featured.book.imageS }}" alt=""/>
                                                    {% else %}
                                                        <img src="https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=36&w=22"
                                                             alt=""/>
                                                    {% endif %}
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <div class="content">{{ featured.book.title }}</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ featured.book.author }}</td>
                                    <td>{{ featured.reason }}</td>
                                    <td>
                                        <button class="button is-link"
                                                onclick="window.location='{% url 'book_view' featured.book.id %}';">View</button>
                                    </td>
                                    <td>
                                        <form action="{% url 'remove_featured_book' current_club.club_url_name featured.book.id %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button class="button is-danger is-outlined"
                                                    onclick="window.location='{% url 'remove_featured_book' current_club.club_url_name featured.book.id %}'">
                                                <span>Delete</span>
                                                <span class="icon is-small">
                                                    <i class="fas fa-times"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <hr>
                <p style="text-align: center" class="has-text-grey">
                    There are not featured books in this club yet.
                </p>
                <hr>
            {% endif %}
        </div>
    </div>
    <script>
        const dataTable = new simpleDatatables.DataTable("#table-featured", {
            fixedHeight: true,
            columns: [
            {select: [1], sortable:false}
            ]
        })
    </script>
{% endblock %}
