{% extends 'base_content.html' %}
{% block page_title %}
    {{ club.name }}
{% endblock page_title %}
{% block page_subtitle %}
    {{ club.tagline }}
{% endblock page_subtitle %}
{% block content %}
    <div class="columns">
        <div class="column is-3">
            {% include 'partials/aside_menu/club_aside.html' with current_club=club %}
        </div>
        <div class="column is-9">
            <nav class="breadcrumb"
                 aria-label="breadcrumbs"
                 style="padding-left: 5px;">
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'available_clubs' %}">Clubs</a>
                    </li>
                    <li>
                        <a href="{% url 'club_dashboard' club.club_url_name %}">{{ club.name }}</a>
                    </li>
                    <li>
                        <a href="{% url 'edit_club' club.club_url_name %}">Manage Club</a>
                    </li>
                </ul>
            </nav>
            <section class="hero is-info welcome is-small" style="margin: 10px 0px;">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">Manage Club</h1>
                        <h2 class="subtitle">Edit the details of your club</h2>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="card-content">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'partials/bulma_form.html' with form=form %}
                        <input type="submit" value="Update Club" class="button is-link">
                    </form>
                </div>
            </div>

            <br>
            <article class="message is-danger">
                <div class="message-body">
                    Warning: This will delete your club permanently
                </div>
            </article>
            
            <div id="modal-delete-club-confirmation" class="modal">
                <div class="modal-background"></div>
              
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Delete Club</p>
                        <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        Are you sure you want to permanently delete this club?
                    </section>
                    <footer class="modal-card-foot">
                        <div class="field is-grouped">
                            <div class="control">
                                <form method="post"
                                    action="{% url 'delete_club' club.club_url_name %}">
                                    {% csrf_token %}
                                    <button type="submit" class="button is-danger">
                                        Delete Club
                                    </button>
                                </form>
                            </div>
                            <div class="control">
                                <button class="button">Cancel</button>
                            </div>
                        </div>
                    </footer>
                </div>
            
                <button class="modal-close is-large" aria-label="close"></button>
            </div>

            <div class="control has-text-centered">
                <button class="js-modal-trigger button is-danger is-outlined center is-fullwidth" data-target="modal-delete-club-confirmation">
                    <span>Delete Club</span>
                    <span class="icon is-small">
                      <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>

            
        </div>
    </div>
{% endblock %}
