<aside class="menu is-hidden-mobile" style="padding-left: 15px;">
    <p class="menu-label">
        Club Views
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'club_dashboard' current_club.club_url_name %}">{{ current_club.name }}</a>
        </li>
        <li>
            <a href="{% url 'member_list' current_club.club_url_name %}">Members</a>
        </li>
        {% if user == current_club.get_club_owner or user in current_club.get_moderators %}
            <li>
                <a href="{% url 'applicant_list' current_club.club_url_name %}">Applicants</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'club_recommendations' current_club.club_url_name %}">Recommendations</a>
        </li>
    </ul>
    {% if user == current_club.get_club_owner or user in current_club.get_moderators %}
        <p class="menu-label">
            Club Administration
        </p>
        {% if user == current_club.get_club_owner %}
            <ul class="menu-list">
                <li>
                    <a href="{% url 'edit_club' current_club.club_url_name %}">Manage Club</a>
                </li>
            </ul>
        {% endif %}
        <ul class="menu-list">
            <li>
                <a href="{% url 'edit_featured_books' current_club.club_url_name %}">Featured Books</a>
            </li>
        </ul>
    {% endif %}
    <p class="menu-label">
        Forums
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'club_forum' current_club.club_url_name %}">Forums</a>
        </li>
    </ul>
    <p class="menu-label">
        Meetings
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'meeting_list' current_club.club_url_name %}">Meetings</a>
        </li>
        {% if user == current_club.get_club_owner or user in current_club.get_moderators %}
            <li>
                <a href="{% url 'create_meeting' current_club.club_url_name %}">Create</a>
            </li>
        {% endif %}
    </ul>
</aside>
