<aside class="menu is-hidden-mobile" style="padding-left: 15px;">
    <p class="menu-label">
        Library Dashboard
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'library_dashboard' %}">Library</a>
        </li>
    </ul>
    <p class="menu-label">
        Our Book Library
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'library_books' %}">Books</a>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <p class="menu-label">
            Book Lists
        </p>
        <ul class="menu-list">
            <li>
                <a href="{% url 'booklists_list' %}">{{ user.get_username }}'s Book Lists</a>
            </li>
            <li>
                <a href="{% url 'saved_booklists' %}">Saved Book Lists</a>
            </li>
            <li>
                <a href="{% url 'create_booklist' %}">Create Book Lists</a>
            </li>
        </ul>
    {% endif %}
    <p class="menu-label">
        Recommender
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'user_recommendations' %}">AI Recommended Books</a>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <p class="menu-label">
            Reviews
        </p>
        <ul class="menu-list">
            <li>
                <a href="{% url 'personal_reviews' %}">Personal</a>
                <a href="{% url 'community_reviews' %}">Community</a>
            </li>
        </ul>
    {% endif %}
</aside>
