<aside class="menu is-hidden-mobile" style="padding-left: 15px;">
    <p class="menu-label">
        {{ username }}'s Profile
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'user_profile' username %}">Profile Dashboard</a>
        </li>
        <li>
            <a href="{% url 'user_following' username %}">Following & Followers</a>
        </li>
    </ul>
    <p class="menu-label">
        {{ username }}'s Clubs
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'user_memberships' username %}">Club Memberships</a>
        </li>
    </ul>
    <p class="menu-label">
        {{ username }}'s Book lists
    </p>
    <ul class="menu-list">
        <li>
            <a href="{% url 'booklists_list' username %}">Book Lists</a>
        </li>
        <li>
            <a href="{% url 'saved_booklists' username %}">Saved Book Lists</a>
        </li>
    </ul>
</aside>
